/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width: 60%;
	margin: 0 auto;
	font-family: 'Work Sans', sans-serif;
	display: flex;
	flex-flow: row wrap;
}

/* NAV*/

.navigation{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #2f578c;
	z-index: 999;
	display: flex;
}

.nav-container{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	
}

.nav-links{
	width: 70%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	
}

.navigation a{

	padding: 0;
	font-size: 20px;
	color: white;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.navigation a:hover{
	color: #137a86;
}

 .logo{
	 width: 183px;
	 height: 36px;
	 
 }

.header{
	width: 100%;
	margin: 120px 0 100px 0;
	display: flex;
}

.cta-box{
	width: 50%;
	justify-content: center;
	align-items: center;
}

.cta-header-box{
	display: flex;
	flex-flow: column nowrap;

}

 .cta-header{
	width: 60%;
	margin: 10% auto;
	padding: 0;
	font-size: 85px;
	text-align: center;
}

.cta-box a{
	margin: 0 30%;
	padding: 10px 50px;
	color: black;
	text-decoration: none;
	border: 1px solid black;
}

.cta-box a:hover{
	color: white;
	background-color: black;
}

.cta-img{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.section-container{
	width: 100%;
}

.section-border{
	padding: 50px 0;
}

.section-top {
	width: 100%;
	border-top: 2px solid black;
	display: flex;
	justify-content: space-between;
}

.section-col-top{
	width: 45%;
}

.section-bottom{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

.section-col-bottom{
	width: 30%;
}

.section-col-header{
	font-size: 24px;
}

.section-img img{
	width: 100%;
}

.contact{
	margin: 50px 0;
	padding: 30px 0;
}

.contact p {
	line-height: 30px;
}

 .address{
	margin: 50px 0;
	line-height: 25px;
}

.footer{
	width: 100%;
	height: 100px;
	padding: 0;
	background-color: #000;
	color: white;
	display: flex;
	align-items: center;
}

.copyright{
	margin: 0 auto;
	width: 200px;
	padding: 0;
}

/*Services pAge */

.page-header{
	width: 100%;
	display: flex;
}

.services-header-img{
	width: 100%;
}

.section-services-bottom{
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;

}

.service-header{
	width: 100%;
}

.services-box-section{
	margin: 50px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.serivce-box{
	width: 46%;
	margin: 20px 0 30px 0;
	padding: 50px 30px;
	border: 1px solid black;
	background-color: #F4F3F4;
}

.services-header{
	margin-bottom: 20px;
	font-size: 24px;
}

.services-txt{
	margin: 20px 0 40px 0;
}

.serivce-box a{
	padding: 10px 30px;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 3px;
}

.serivce-box a:hover{
	background-color: black;
	color: white;
}

.services-top-border{
	border-top: 2px solid black;
}

.service-about-box{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.services-col{
	width: 49%;
	padding: 50px 0 100px;
}

.services-about-txt{
	margin: 50px 0;
	line-height: 1.5;
}

.section-services-list{
	list-style-type: square;
	margin-left: 16px;
}

.service-list-item{
	margin: 20px 0;
}

.services-info-img{
	width: 100%;
	height: 100%;
}